body{
    font-family: 'Anton', sans-serif;
    margin: 0 ;
}
h1{
    font-size: 50px;     
   }
   .crimson-color{
    color: rgb(234, 148, 87);
   }
   .first-section{
    display: flex;
    margin-bottom: 5%;
    margin-top: 3%;
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
   }
   .half-width{
    width: 50%;
    margin-left: 2%;
   }
   
  .half-width-img{
    padding-right: 5%;
    border-radius: 30px;
  }
  .link-button{
    text-decoration: none;
    background-image: linear-gradient(rgb(0, 162, 238), rgb(37, 255, 95));
    padding: 10px 40px;
    border-radius: 10px;
  }.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
  }
  .dream-big{
    display: flex;
   
  }
  .dream-image{
    margin-left: 15%;
    margin-top: 10%;
    margin-bottom: 10%;
    border-radius: 30px;
  }
  .dream-line{
    margin-left: 15%;
    color: rgb(0, 0, 0);
  }
  .dream-big{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
  }
  

